In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
ratings = pd.read_csv('all_data.csv').drop('Unnamed: 0', axis=1)
avg_price = pd.read_csv('avg_prices.csv').drop('Unnamed: 0', axis=1)

In [8]:
ratings.rename(columns={'Rating': 'Customer_Rating'}, inplace=True)

Questions to ask the user: 
<br> Do you want to sit on the home side, away side, or no preference?
<br> Price range
<br> Cover or uncovered? 
<br> On a scale of 1-10, how close do you want to be to the beer garden? (10 being closest) Or no preference?

In [11]:
change_beer = {10:1, 9:2, 8:3, 7:4, 6:5, 5:6, 4:7, 3:8, 2:9, 1:10}

ratings['Beer_Rating'] = ratings['Beer_Rating'].apply(lambda x: change_beer[x])

ratings.drop('Price', axis=1, inplace=True)

ratings.drop('No_Tickets', axis=1, inplace=True)

In [44]:
avg_price['Section'] = avg_price['Section'].astype(int)
avg_price = avg_price.groupby(['Section', 'Row']).mean().reset_index()

In [56]:
ratings['Section'] = ratings['Section'].astype(int)
ratings['Row'] = ratings['Row'].astype(str)
avg_price['Row'] = avg_price['Row'].astype(str)

In [57]:
complete = avg_price.merge(ratings, on=['Section', 'Row'], how='outer')

In [59]:
beer_rating = {10: [234, 201, 301, 101, 135, 136, 137, 138, 139, 133], 
               9: [333, 233, 302, 202, 132, 102], 
               8: [332, 232, 302, 202, 131, 103], 
               7: [331, 231, 303, 203, 130, 104], 
               6: [330, 230, 304, 204, 129, 105], 
               5: [329, 229, 305, 205, 128, 106], 
               4: [328, 228, 306, 206, 127, 107], 
               3: [327, 227, 307, 207, 126, 108], 
               2: [326, 226, 308, 208, 125, 109], 
               1: [325, 225, 309, 310, 311, 209, 210, 211, 
                   125, 224, 223, 222, 221, 220, 219, 218,
                   217, 216, 215, 214, 213, 212, 122, 121, 
                   120, 119, 118, 117, 116, 115, 115, 110]}

In [64]:
for idx, ticket in complete.iterrows():
    sec = ticket['Section']
    for key in beer_rating.keys():
        if sec in beer_rating[key]:
            complete.loc[idx, 'Beer_Rating'] = key

In [76]:
complete.drop(complete[complete['Row'] == 'Zone Seating'].index, inplace=True)

In [67]:
covered = []
covered.extend(range(201, 212))
covered.extend(range(225, 235))
covered.extend(range(301, 312))
covered.extend(range(325, 334))

In [68]:
for idx, ticket in complete.iterrows():
    if ticket['Section'] in covered:
        complete.loc[idx, 'Covered'] = 1
    else: 
        complete.loc[idx, 'Covered'] = 0

In [106]:
x = complete[complete['Customer_Rating'].astype(str) != 'nan'].drop('Customer_Rating', axis=1)

In [107]:
from sklearn.cluster import KMeans
km = KMeans(n_clusters=7, random_state=0).fit(x)

In [108]:
km.predict(complete[complete['Customer_Rating'].astype(str) == 'nan'].drop('Customer_Rating', axis=1))

array([3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 6, 6, 6, 6, 1, 1, 1, 6, 6, 6, 3, 6, 3, 3, 3, 6, 6, 6, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 3, 3, 3, 6,
       6, 6, 6, 3, 6, 3, 3, 6, 6, 6, 6, 6, 6, 6, 1, 1, 1, 1, 1, 1, 3, 3, 6,
       3, 3, 6, 6, 6, 6, 6, 3, 6, 6, 3, 6, 6, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 4, 2, 2, 4, 2, 2, 2, 4, 2, 4, 4, 2, 4, 4, 4, 4, 4, 2, 4, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
       5, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 2,
       5, 5, 4, 5, 5, 5, 5, 5, 5, 5, 4, 4, 4, 4, 4, 4, 2, 4, 4, 2, 4, 4, 4,
       4, 4, 5, 5, 4, 5, 4, 4, 4, 2, 2, 4, 4, 4, 4, 4, 2, 2, 2, 4, 2, 2, 2,
       5, 2, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 5, 5, 5, 4, 5, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 2], dtype=int32)

In [109]:
x['Label'] = km.labels_

In [110]:
x['Customer_Rating'] = complete[complete['Customer_Rating'].astype(str) != 'nan']['Customer_Rating']

In [111]:
x.groupby('Customer_Rating').median()

                 Section     Price  Beer_Rating  Covered  Label
Customer_Rating
1.0                  332   46.0000          8.0      1.0      5
2.0                  325   51.5000          8.0      1.0      4
3.0                  307   77.5825          7.0      1.0      2
4.0                  126  121.5000          8.0      0.0      3
5.0                  107  243.2500          6.0      0.0      6

In [119]:
updated_ratings = {5:1, 4:2, 2:3, 3:4, 6:5, 1:2, 0:1}

In [120]:
rest = complete[complete['Customer_Rating'].astype(str) == 'nan']
rest['Label'] = km.predict(complete[complete['Customer_Rating'].astype(str) == 'nan'].drop('Customer_Rating', axis=1))
for idx, row in rest.iterrows():
    rest.loc[idx, 'Customer_Rating'] = updated_ratings[row['Label']]

/Applications/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Applications/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [122]:
total = pd.concat([rest, x]).drop('Label', axis=1)

In [126]:
total[(total['Beer_Rating'] < 3) & (total['Covered'] == 1)].sort_values(['Price', 'Row'])

     Beer_Rating  Covered  Customer_Rating    Price Row  Section
542          1.0      1.0              1.0   37.500  58      325
539          1.0      1.0              1.0   42.500  55      325
569          2.0      1.0              3.0   44.000  32      326
546          1.0      1.0              3.0   44.900  64      325
547          1.0      1.0              3.0   44.900  64      325
544          1.0      1.0              1.0   45.830  62      325
524          1.0      1.0              1.0   46.000  37      325
545          1.0      1.0              3.0   48.165  63      325
532          1.0      1.0              1.0   49.000  48      325
548          1.0      1.0              1.0   49.250  66      325
492          1.0      1.0              3.0   49.330  33      310
490          1.0      1.0              2.0   51.165  31      310
508          1.0      1.0              2.0   51.250  34      311
523          1.0      1.0              3.0   52.000  36      325
495          1.0      1.0              2.0   52.000  37      310
498          1.0      1.0              2.0   52.000  40      310
541          1.0      1.0              1.0   52.000  57      325
480          1.0      1.0              3.0   53.000  21      310
507          1.0      1.0              3.0   53.250  33      311
505          1.0      1.0              2.0   53.875  31      311
503          1.0      1.0              3.0   54.250  27      311
543          1.0      1.0              1.0   54.330  60      325
516          1.0      1.0              3.0   54.500  12      325
489          1.0      1.0              2.0   54.500  30      310
540          1.0      1.0              1.0   54.500  56      325
493          1.0      1.0              3.0   54.750  35      310
510          1.0      1.0              3.0   55.000  37      311
533          1.0      1.0              1.0   55.400  49      325
531          1.0      1.0              1.0   55.670  47      325
519          1.0      1.0              3.0   55.750  26      325
..           ...      ...              ...      ...  ..      ...
476          1.0      1.0              3.0   73.250  31      309
558          2.0      1.0              3.0   73.500  20      326
534          1.0      1.0              2.0   73.750   5      325
473          1.0      1.0              3.0   74.000  28      309
463          2.0      1.0              3.0   75.000  18      308
478          1.0      1.0              2.0   75.000  35      309
557          2.0      1.0              3.0   75.250  19      326
559          2.0      1.0              3.0   76.330  21      326
520          1.0      1.0              2.0   76.335   3      325
479          1.0      1.0              2.0   76.500  36      309
474          1.0      1.0              3.0   77.000  29      309
567          2.0      1.0              3.0   77.000  30      326
465          2.0      1.0              3.0   77.165  20      308
536          1.0      1.0              1.0   77.500  51      325
462          2.0      1.0              3.0   78.500  16      308
467          2.0      1.0              3.0   83.500  28      308
466          2.0      1.0              3.0   85.165  21      308
464          2.0      1.0              3.0   87.330  19      308
561          2.0      1.0              3.0   88.000  23      326
551          2.0      1.0              3.0   88.625  13      326
552          2.0      1.0              3.0   88.625  13      326
470          1.0      1.0              3.0   89.000  19      309
469          1.0      1.0              3.0   93.000  18      309
500          1.0      1.0              3.0   96.750  11      311
512          1.0      1.0              3.0   99.625   9      311
468          1.0      1.0              2.0  106.000  16      309
511          1.0      1.0              3.0  107.875   6      311
513          1.0      1.0              2.0  114.875   1      325
499          1.0      1.0              2.0  229.000   1      311
461          2.0      1.0              3.0  235.625   1      308

[109 rows x 6 columns]

In [173]:
total.to_csv('data.csv')

In [131]:
home = []
home.extend(range(113, 140))
home.extend(range(213, 240))
home.extend(range(313, 340))

In [141]:
def answers():
    result = {}
    result['Covered'] = input('Do you want to be under cover, or no preference? (y/n/np): ').lower()
    result['Beer_Proximity'] = input('On scale of 1-3, how important is it that you be close to the beer garden or no preference? \
    (3 = Very Important, 2 = Somewhat Important, 1 = I do not care): ')
    result['Price_Max'] = input('What is the maximum price you would like to pay?: ')
    result['Price_Min'] = input('What is the minimum price you would like to pay?: ')
    result['Home_Away'] = input('Do you want to sit on the home side, away side, or no preference? (Home = 1, Away = 2, No Preference = 3): ')
    return result

ask them to give a section and row number of where they have previously sat and whether they liked it or not

In [169]:
def filter_data(response):
    result = total.copy()
    if response['Covered'] == 'y':
        result = result[result['Covered'] == 1]
    elif response['Covered'] == 'n':
        result = result[result['Covered'] == 0]
    if response['Beer_Proximity'] == '3':
        result = result[result['Beer_Rating'] > 7]
    elif response['Beer_Proximity'] == '2':
        result = result[result['Beer_Rating'] > 4]
    result = result[(result['Price'] > int(response['Price_Min'])) & (result['Price'] < int(response['Price_Max']))]
    if response['Home_Away'] == '1':
        result = result[result['Home_Away'] == 1]
    elif response['Home_Away'] == '2':
        result = result[result['Home_Away'] == 0]
    return result[['Section', 'Row', 'Price', 'Customer_Rating']].sort_values('Customer_Rating', ascending=False)

In [171]:
response = answers()

In [172]:
filter_data(response)

     Section Row    Price  Customer_Rating
100      109   1  148.750              5.0
67       106   2  282.875              5.0
79       107   1  243.250              5.0
78       107   1  243.250              5.0
76       106   6  245.250              5.0
98       108   8  176.000              5.0
99       108   9  152.330              5.0
50       105   3  186.875              5.0
75       106   4  250.310              5.0
72       106   3  268.375              5.0
66       106  13  278.125              5.0
51       105   3  186.875              5.0
60       106   1  299.275              5.0
59       106   1  299.275              5.0
58       106   1  299.275              5.0
57       105   7  188.000              5.0
56       105   6  181.000              5.0
55       105   4  201.500              5.0
54       105   4  201.500              5.0
53       105   4  201.500              5.0
88       108  12  208.000              5.0
83       107   6  194.500              5.0
82       107   4  184.000              5.0
43       104   6  182.290              5.0
81       107   3  157.000              5.0
48       105   3  186.875              5.0
49       105   3  186.875              5.0
37       104  15  172.000              5.0
47       105   2  203.500              5.0
44       104   9  150.400              5.0
..       ...  ..      ...              ...
461      308   1  235.625              3.0
459      307  35  109.000              3.0
458      307  27  101.125              3.0
454      307  22  106.875              3.0
455      307  24  109.125              3.0
451      306  35  116.125              3.0
446      306  24  117.125              3.0
444      305  36  103.000              3.0
442      305  26  102.625              3.0
441      305  25  104.250              3.0
404      302  31  164.965              3.0
403      302  31  164.965              3.0
511      311   6  107.875              3.0
393      301   8  105.750              3.0
392      301   7  101.625              3.0
450      306  34  122.800              2.0
499      311   1  229.000              2.0
468      309  16  106.000              2.0
460      307  36  105.000              2.0
457      307  26  108.330              2.0
453      307  20  106.500              2.0
452      307  17  104.000              2.0
448      306  27  128.500              2.0
445      306  23  125.000              2.0
439      305  22  111.330              2.0
430      304   1  192.000              2.0
406      302  32  170.250              2.0
405      302  32  170.250              2.0
425      303  32  105.000              2.0
70       106  24  279.750              2.0

[119 rows x 4 columns]

In [148]:
total['Home_Away'] = total['Section'].apply(lambda x: 1 if x in home else 0)

include bathrooms, other data sources

In [174]:
restrooms = [110, 125, 136, 207, 305, 309]

In [199]:
total['Family_Bathrooms'] = 100
for idx, row in total.iterrows():
    sec = row['Section']
    if sec > 324:
        sec -= 200
    cur = row['Family_Bathrooms']
    for br in restrooms:
        if np.abs((sec - br)) < cur:
            total.loc[idx, 'Family_Bathrooms'] = np.abs(sec-br)
            cur = np.abs(sec-br)

In [202]:
total

,Beer_Rating,Covered,Customer_Rating,Price,Row,Section,Home_Away,Family_Bathrooms
0,9.0,0.0,4.0,117.250,1,102,0,8
1,9.0,0.0,4.0,100.000,10,102,0,8
2,9.0,0.0,4.0,99.500,11,102,0,8
3,9.0,0.0,4.0,112.830,12,102,0,8
4,9.0,0.0,4.0,113.860,2,102,0,8
5,9.0,0.0,4.0,86.000,3,102,0,8
8,9.0,0.0,4.0,96.000,6,102,0,8
9,9.0,0.0,4.0,101.670,7,102,0,8
10,9.0,0.0,4.0,97.670,8,102,0,8
11,9.0,0.0,4.0,105.670,9,102,0,8
13,8.0,0.0,4.0,104.670,10,103,0,7
14,8.0,0.0,4.0,85.000,11,103,0,7
15,8.0,0.0,4.0,103.600,14,103,0,7
16,8.0,0.0,4.0,97.000,18,103,0,7
17,8.0,0.0,4.0,80.000,19,103,0,7
19,8.0,0.0,4.0,109.000,20,103,0,7
20,8.0,0.0,4.0,91.000,21,103,0,7
26,8.0,0.0,4.0,149.670,37,103,0,7
28,8.0,0.0,4.0,113.710,5,103,0,7
29,8.0,0.0,4.0,126.570,6,103,0,7
30,8.0,0.0,4.0,95.500,7,103,0,7
31,8.0,0.0,4.0,105.000,8,103,0,7
32,8.0,0.0,4.0,96.000,9,103,0,7
36,7.0,0.0,4.0,136.000,11,104,0,6
37,7.0,0.0,5.0,172.000,15,104,0,6
43,7.0,0.0,5.0,182.290,6,104,0,6
44,7.0,0.0,5.0,150.400,9,104,0,6
46,6.0,0.0,5.0,253.900,1,105,0,5
69,5.0,0.0,2.0,325.000,23,106,0,4
70,5.0,0.0,2.0,279.750,24,106,0,4
...,...,...,...,...,...,...,...,...
715,8.0,1.0,2.0,50.000,65,332,1,4
716,8.0,1.0,2.0,50.000,65,332,1,4
717,8.0,1.0,2.0,50.000,65,332,1,4
718,8.0,1.0,2.0,50.000,65,332,1,4
719,8.0,1.0,3.0,51.000,66,332,1,4
720,8.0,1.0,3.0,46.000,67,332,1,4
721,8.0,1.0,1.0,46.000,67,332,1,4
724,9.0,1.0,3.0,101.000,1,333,1,3
725,9.0,1.0,3.0,65.125,10,333,1,3
726,9.0,1.0,3.0,61.645,11,333,1,3
731,9.0,1.0,3.0,58.750,16,333,1,3
732,9.0,1.0,3.0,64.250,17,333,1,3
733,9.0,1.0,3.0,68.375,18,333,1,3
734,9.0,1.0,3.0,68.250,20,333,1,3
735,9.0,1.0,3.0,66.625,21,333,1,3
736,9.0,1.0,3.0,66.625,21,333,1,3
738,9.0,1.0,3.0,67.800,23,333,1,3
739,9.0,1.0,3.0,67.800,23,333,1,3
740,9.0,1.0,3.0,61.440,24,333,1,3
741,9.0,1.0,3.0,61.440,24,333,1,3
742,9.0,1.0,3.0,71.500,28,333,1,3
747,9.0,1.0,3.0,66.400,4,333,1,3
748,9.0,1.0,2.0,50.200,45,333,1,3
753,9.0,1.0,3.0,70.500,5,333,1,3
758,9.0,1.0,2.0,50.500,59,333,1,3
760,9.0,1.0,2.0,45.500,63,333,1,3
761,9.0,1.0,2.0,50.400,64,333,1,3
762,9.0,1.0,2.0,61.125,65,333,1,3
765,9.0,1.0,3.0,69.500,8,333,1,3
766,9.0,1.0,3.0,66.400,9,333,1,3

In [204]:
total['Beer_Rating'] = total['Beer_Rating'].apply(lambda x: np.abs(x-11))

In [205]:
total.rename(columns={'Beer_Rating': 'Proximity_to_Beer'}, inplace=True)

In [207]:
total.to_csv('data.csv')