In [1]:
import pandas as pd
from selenium.webdriver import Chrome

In [4]:
asu = pd.read_csv('ticket_data/asu.csv').drop('Unnamed: 0', axis=1)
asu = asu[['Section', 'Row', 'price']]

In [8]:
def find_prices(browser):
    '''Scrapes tickpick for prices and cleans the data to put into comprehensive dataframe
    
    Parameters:
        browser (selenium object): Chrome object on which the scraping will occur
        
    Returns:
        prices (list[dictionaries]): pricing data from website (only price, section, and row)
    
    '''
    tickets = browser.find_elements_by_css_selector('li.ticket')
    tickets = [tickets[i].text.split('\n') for i in range(len(tickets))]
    prices = []
    for ticket in tickets:
        sec = ticket[0].split(', ')[0].split(' ')[-1]
        if len(ticket[0].split(', ')) == 1:
            row = 'Zone Seating'
        else:
            row = ticket[0].split(', ')[1].split(' ')[-1]
        price = int(ticket[-1].split('/')[0][1:])
        curr = {'Section': sec, 'Row': row, 'price': price}
        prices.append(curr)
    return prices

Finding prices for all games and averaging them

<b> BYU

In [6]:
browser = Chrome()
browser.get('https://www.rateyourseats.com/tickets/events/byu-cougars-at-washington-huskies-september-29-2018-2530479')

In [9]:
byu = find_prices(browser)

<b> CU

In [11]:
browser = Chrome()
url = 'https://www.rateyourseats.com/tickets/events/colorado-buffaloes-at-washington-huskies-october-20-2018-2530480'

In [12]:
cu = find_prices(browser)

<b> Stanford

In [13]:
browser = Chrome()
url = 'https://www.rateyourseats.com/tickets/events/stanford-cardinal-at-washington-huskies-november-3-2018-2530481'

In [14]:
stanford = find_prices(browser)

<b> OSU

In [14]:
browser = Chrome()
url = 'https://www.rateyourseats.com/tickets/events/oregon-state-beavers-at-washington-huskies-november-17-2018-2530482'

In [15]:
osu = find_prices(browser)

<b> Finalizing data

In [16]:
# Converting into pandas dataframe

cu = pd.DataFrame(cu)
stanford = pd.DataFrame(stanford)
osu = pd.DataFrame(osu)
byu = pd.DataFrame(byu)

In [17]:
# Find average price based on section and row

avg_price = pd.concat([asu, cu, stanford, osu, byu]).groupby(['Section', 'Row']).mean().reset_index()

In [18]:
# Round to second decimal

avg_price['price'] = avg_price['price'].round(2)

In [19]:
avg_price

    Section           Row   price
0       102             4  108.00
1       102             5  116.00
2       102            12  103.50
3       103             2  150.00
4       103             3  132.50
5       103             4  115.00
6       104             2  161.00
7       104             3  168.00
8       104             4  157.00
9       104             5  154.00
10      104             6  140.00
11      104            10  138.00
12      104            12  119.00
13      105             2  197.00
14      105             3  191.00
15      105             4  192.00
16      105             5  195.00
17      105             6  189.00
18      105             7  187.00
19      106             3  245.00
20      106             4  232.00
21      106             6  229.00
22      107             1  201.00
23      107             2  196.00
24      107             6  189.00
25      107             7  190.00
26      107             9  194.00
27      108             2  173.00
28      108             3  176.00
29      108             4  146.00
..      ...           ...     ...
764     333            29   45.00
765     333             3   74.00
766     333            30   45.00
767     333            32   52.00
768     333             4   66.00
769     333            45   48.40
770     333            46   49.50
771     333            47   42.50
772     333            48   42.00
773     333            49   47.60
774     333             5   72.50
775     333            50   62.00
776     333            51   57.50
777     333            52   55.25
778     333            53   55.67
779     333            55   53.00
780     333            57   43.00
781     333            58   53.00
782     333            59   49.50
783     333            60   47.00
784     333            61   48.00
785     333            62   45.00
786     333            63   42.00
787     333            64   47.80
788     333            65   69.62
789     333            67   29.00
790     333             7   69.25
791     333             8   66.25
792     333             9   64.80
793     333  Zone Seating   68.31

[794 rows x 3 columns]