In [13]:
import pandas as pd
from selenium.webdriver import Chrome
import time

In [2]:
asu = pd.read_csv('all_data.csv')

asu = asu[['Section', 'Row', 'Price']]

In [52]:
def find_prices(browser):
    tickets = browser.find_elements_by_css_selector('li.ticket')
    tickets = [tickets[i].text.split('\n') for i in range(len(tickets))]
    prices = []
    for ticket in tickets:
        sec = ticket[0].split(', ')[0].split(' ')[-1]
        if len(ticket[0].split(', ')) == 1:
            row = 'Zone Seating'
        else:
            row = ticket[0].split(', ')[1].split(' ')[-1]
        price = int(ticket[-1].split('/')[0][1:])
        curr = {'Section': sec, 'Row': row, 'Price': price}
        prices.append(curr)
    return prices

In [26]:
browser = Chrome()
browser.get('https://www.rateyourseats.com/tickets/events/byu-cougars-at-washington-huskies-september-29-2018-2530479')

In [55]:
byu = find_prices(browser)

In [37]:
browser = Chrome()
url = 'https://www.rateyourseats.com/tickets/events/colorado-buffaloes-at-washington-huskies-october-20-2018-2530480'

In [53]:
cu = find_prices(browser)

In [58]:
stanford = find_prices(browser)

In [59]:
osu = find_prices(browser)

In [67]:
cu = pd.DataFrame(cu)
stanford = pd.DataFrame(stanford)
osu = pd.DataFrame(osu)
byu = pd.DataFrame(byu)

find average prices

In [71]:
avg_price = pd.concat([asu, cu, stanford, osu, byu]).groupby(['Section', 'Row']).mean().reset_index()

In [74]:
avg_price['Price'] = avg_price['Price'].round(2)

In [75]:
avg_price['Section']

    Section           Row   Price
0       102             4   81.00
1       102             5  106.00
2       103             1  148.00
3       103             2  133.00
4       103             3  113.00
5       103             4  102.00
6       103            25  120.00
7       103            27  137.00
8       103            32  160.00
9       104             1  194.00
10      104             2  172.00
11      104             3  161.00
12      104             4  146.00
13      104             5  149.00
14      104            10  161.50
15      105             2  188.00
16      105             3  182.50
17      105             4  185.00
18      105             6  181.00
19      105             7  180.00
20      106             1  282.00
21      106             2  276.00
22      106             3  244.00
23      106             4  217.00
24      106             6  228.00
25      106            10  359.00
26      106            12  352.00
27      106            13  279.00
28      106            20  443.00
29      106            29  443.00
..      ...           ...     ...
897     333            21   72.25
898     333            22   60.00
899     333            23   75.10
900     333            24   69.38
901     333            28   74.00
902     333            29   45.00
903     333             3   77.33
904     333            30   45.00
905     333            32   52.00
906     333             4   66.80
907     333            45   48.40
908     333            46   49.50
909     333            47   41.50
910     333            48   32.00
911     333            49   47.80
912     333             5   74.00
913     333            50   63.50
914     333            53   55.67
915     333            57   46.00
916     333            58   49.50
917     333            59   52.00
918     333            62   42.00
919     333            63   42.00
920     333            64   49.80
921     333            65   71.25
922     333            67   29.00
923     333             7   71.25
924     333             8   68.00
925     333             9   64.80
926     333  Zone Seating   68.31

[927 rows x 3 columns]